{% extends 'main/layout.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
        <div class="features">
        <h1>Про нас</h1>
        <p>DevDuo спеціалізується на розробці сучасних вебсайтів з використанням новітніх технологій. Ми забезпечуємо повний цикл розробки для ваших проектів.</p>
    </div>
    <section id="team">
        <div class="member">
            <img src="{% static 'main/img/Roma.jpg' %}" alt="Фото Роми">
            <h2>Рома - Front-end</h2>
            <p class="tuxt">Я - Рома, спеціаліст з front-end розробки. Я захоплююся створенням інтуїтивних та стильних інтерфейсів, що забезпечують найкращий досвід користувачів. Моя робота полягає в тому, щоб зробити ваш сайт не лише функціональним, але й привабливим на вигляд. Співпрацюючи з Назаром, я впевнений, що будь-яка ідея може бути реалізована на найвищому рівні!</p>
            <div class="skills">
                <h3>Мої навички:</h3>
                <ul>
                    <li>HTML/CSS</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>UI/UX дизайн</li>
                    <li>Адаптивна верстка</li>
                </ul>
            </div>
        </div>

        <div class="member">
            <img src="{% static 'main/img/Nazar.jpg' %}" alt="Фото Назара">
            <h2>Назар - Back-end</h2>
            <p class="tuxt">Привіт, я Назар, фахівець із back-end розробки. Моє завдання — забезпечити надійність і продуктивність роботи серверів та баз даних. Я відповідаю за те, щоб "невидима" частина вашого проекту працювала бездоганно. У парі з Ромою ми створюємо повноцінні веб-рішення, де все працює злагоджено та ефективно.</p>
                        <div class="skills">
                <h3>Мої навички:</h3>
                <ul>
                    <li>Django</li>
                    <li>PHP</li>
                    <li>MySQL</li>
                    <li>API інтеграція</li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}